{% extends "home/base.html" %}
{%load static%}

{% block title %}
<title>Change Profile</title>
{% endblock %}

{% block main %}

<body class="bg">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/changeProfile.css'%}">
{% endblock %}

{% block content %}
<div class="changeImage">
    <div class="heading">
        <h1> Change your profile </h1> <br/>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <h2>Current image</h2>
            <img src="{{ img }}" alt="Profile Image" class="current-image">
        </div>
    
        <div class="choice">
            <div class="form-group image-options">
                <div>
                    <h2>Choose a new image:</h2> <br/>
                </div>
                <div>
                    {% for name in options %}
                    <label class="image-option">
                        <input type="radio" id="{{ name }}" name="image_choice" value="{% static 'profile_images/' %}{{ name }}">
                        <img src="{% static 'profile_images/' %}{{ name }}" alt="Image 1" class="image-thumbnail">
                    </label>
                    {% endfor %}  
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" name="{{ form.description.name }}" rows="4">{{ desc }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Save Profile</button>
    </form>
    
</div>
{% endblock %}
