{% extends "home/base.html" %}
{%load static%}

{% block title %}
<title>My profile</title>
{% endblock %}

{% block main %}

<body class="bg">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/profile.css'%}">
<script src="{% static 'js/feed.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div class="header">
        <button> <a href="/change-profile/"> Edit profile </a></button>
        <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s Profile Image" width="100" height="100"> <br/>
        <h1>{{user.username}}</h1>
        <p>{{ profile.description }}</p>

        <a href="/explore/{{user.username}}/followers"> {{ followers }} followers </a>
        <a href="/explore/{{user.username}}/following"> {{ following }} following </a>
    </div>

    <div class="post">
        <br/><h2>Posts Made</h2>
        {% for post in posts %}
            <div class="box">
                <div class="image">
                    <img src="{{ profile.image.url }}" alt="Profile Image" width="50" height="50">
                </div> 
                <div class="place">
                    <div class="name">
                        <a href="/profile">{{ user.username }}</a>
                    </div> 
                    <div class="time">
                        posted: {{ post.time|timesince }}
                    </div> <br>
                    <div class="con">
                        {{ post.text|safe }}
                        <p> #{{ post.tag }} </p>
                    </div>
                    <div class="likes">
                        <form method="POST" id="{{post.id}}" class="like-form" data-form-id="{{post.id}}">
                            {% csrf_token %}
                            <div class="press">
                                {% if post.user_like %}
                                    <button style="color: red;" type="submit" name="is-liked" id="{{post.id}}like"> 
                                        <i class="fa fa-heart"></i>
                                    </button> 
                                {% else %}
                                    <button style="color: rgb(255, 255, 255);" type="submit" name="is-liked" id="{{post.id}}like">  
                                        <i class="fa fa-heart"></i>
                                    </button> 
                                {% endif %}
                                <p id="like-count-{{post.id}}"> {{post.likes}} </p>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
