{% extends "home/base.html" %}
{%load static%}

{% block title %}
<title>My profile</title>
{% endblock %}

{% block main %}

<body class="bg">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/profile.css'%}">
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/popup.css'%}">
<script src="{% static 'js/feed.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div class="header">
        <button> <a href="/change-profile/"> Edit profile </a></button>
        <img src="{{ profile.image }}" alt="{{ profile.user.username }}'s Profile Image" width="100" height="100"> <br/>
        <h1>{{user.username}}</h1>
        <p>{{ profile.description }}</p>

        <a href="/explore/{{user.username}}/followers"> {{ followers }} followers </a>
        <a href="/explore/{{user.username}}/following"> {{ following }} following </a>
    </div>

    <div class="post">
        <br/><h2>Posts Made</h2>
        {% for post in posts %}
            <div class="box">
                <div class="image">
                    <img src="{{ profile.image }}" alt="Profile Image" width="50" height="50">
                </div> 
                <div class="place">
                    {% if post.referenced_post_pk %}
                        <a href="{% url 'comments' post_id=post.referenced_post_pk %}"> Replying to post </a><br/>
                    {% endif %}
                    <div class="name">
                        <a href="/profile">{{ user.username }}</a>
                    </div> 
                    <div class="time">
                        posted: {{ post.time|timesince }}
                    </div> <br>
                    <div class="con">
                        <div class="posCon">
                            <p id="p{{post.id}}"> {{ post.text|safe }} </p>
                        </div>
                        <!--
                        {% if post.image %}
                        <div class="image-container">
                            <img src="/media/{{ post.image }}" alt="Profile Image" class="scaled-image">
                        </div>
                        {% endif %}
                        -->
                        <div class="tag-container">
                            <p> #{{ post.tag }} </p>
                        </div>
                    </div>
                    <div class="options">
                        <div class="likes">
                            <form method="POST" id="{{post.id}}" class="like-form" data-form-id="{{post.id}}">
                                {% csrf_token %}
                                <div class="press">
                                    {% if post.user_like %}
                                        <button style="color: red;" type="submit" name="is-liked" id="{{post.id}}like"> 
                                            <i class="fa fa-heart"></i>
                                        </button> 
                                    {% else %}
                                        <button style="color: rgb(255, 255, 255);" type="submit" name="is-liked" id="{{post.id}}like">  
                                            <i class="fa fa-heart"></i>
                                        </button> 
                                    {% endif %}
                                    <p id="like-count-{{post.id}}"> {{post.likes}} </p>
                                </div>
                            </form> 
                        </div>
                        <div class="comment">
                            <button type="button" class="comment-button" data-post-id="{{ post.id }}">
                                <i class="fa fa-comment"></i>
                            </button> 
                            <p id="co{{post.id}}"> 
                                {% if post.comment_count == None %}
                                    0
                                {% else %}
                                    {{post.comment_count}} 
                                {% endif %}
                            </p>
                        </div>
                        <div class="view">
                            <a href="{% url 'comments' post_id=post.id %}" class="click"> view post </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block popup %}
<div class="popup" id="popup" style="display: none;">
    <div id="originID" style="visibility: hidden;"> </div>
    <div class="popup-content">
        <div class="close">
            <button class="close" type="button" onclick="remove()">
                <i class="fa fa-close"></i>
            </button> 
        </div>
        <h2>Post</h2>
        <div class="post">
            <p id="PrevPost">  </p>
        </div>
        <h2>Comment</h2>
        <form method="POST" id="commentForm" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea class="form-control" name="content" id="postContent" maxlength="300" rows="4" cols="7"></textarea> <br> <br>
            <!--
            <div class="form-group">
                <label for="id_image">Image:</label> <br/>
                <input type="file" name="image" id="id_image">
            </div>
            -->
            <div style="text-align: center;">
                <button type="submit" id="submitButton"> Post </button>
            </div>
        </form>
        <div id="error" style="display: none; text-align: center; color: red;">
            <p> Post cannot be empty </p>
        </div>
    </div>
</div>
{% endblock %}