{% extends "home/base.html" %}
{%load static%}

{% block title %}
Explore
{% endblock %}

{% block main %}

<body class="bg">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/explore.css'%}">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="searching">
            <form id="form" method="post" role="search" style="margin-top: 10px;">
                {% csrf_token %}
                <div class="searchbox">
                    <input type="search" name="query"  placeholder="{{search}}" aria-label="Search through site content">
                </div>
                <div class="button">
                    <button>Search</button>
                </div>
            </form>
        </div>
        <div class="results">
            <div class="tags">
                {% if expect_Tag %}
                    {% if tags %}
                        {% for tag in tags %}
                        <div class="t">
                            <a href="/topic/{{tag}}"> {{ tag }} </a>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="t">
                        <p>No results for search</p>
                    </div>
                {%endif%}
            </div>      
            <div class="users">
                {% if expect_User %}
                    {% if users %}
                        {% for u in users %}
                            <div class="person">
                                <div class="image">
                                    <img src="{{ u.p_image }}">
                                </div>
                                <div class="info">
                                    <div class="name">
                                        <a href="/explore/{{u.username}}">{{ u.username }}</a>
                                    </div>
                                    <div class="desc">
                                        <p>{{ u.p_desc }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="u">
                        <p>No results for search</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
