html, body {
    height: 100%;
    margin: 0;
  }

.bg {
    background-image: linear-gradient(rgba(136, 1, 138, 0.768), rgb(0, 28, 152));
    background-repeat: no-repeat;
}

.container {
    background-color: black;
    min-height: 100vh;
}
  
.container {
    border-color: rgb(255, 1, 1);
    border-left: solid;
    border-right: solid;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.searchbox {
    display: inline;
}

input {
    border-radius: 5px;
    overflow: hidden;
}

.button {
    display: inline;
    background-color: aqua;
}