.main {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    top: 5%;
    margin-left: 3px;
    margin-right: 3px;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.searchbox {
    display: inline;
    align-items: center;
}

input {
    border-radius: 5px;
    overflow: hidden;
}

.button {
    display: inline;
    background-color: aqua;
}

.searching {
    margin-top: 10px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.tags, .users {
    margin-top: 10px;
}

.image img {
    width: 50px;
    height: 50px;
}

.users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.person {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px
}

.image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.name a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

.desc p {
    font-size: 16px;
    color: white;
    margin: 0;
}

.tags a{
    color:white;
}

.tags {
    text-align: center;
}

.t {
    margin-bottom: 5px;
}

p {
    color:white;
}