html, body {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: linear-gradient(rgba(136, 1, 138, 0.768), rgb(0, 28, 152));
    background-repeat: no-repeat;
}

.container {
    background-color: black;
    min-height: 100vh;
    padding: 0;
}
  
.container {
    border-color: rgb(255, 1, 1);
    border-left: solid;
    border-right: solid;
    width: 50%;
    margin: 0 auto;
}

.header{
    padding: 60px;
    text-align: center;
    background: #1a85bc;
    color: white;
    font-size: 30px;
    max-width: 100%;
  }

.lines {
    border-top-style: solid;
    border-width: thin;
    border-spacing: 10px;
    border-color: rgb(118, 118, 118)
 }

.name a, .con, .time{
    color: white;
}

.name, .time {
    display: inline;
}

.time {
    float: right;
}