html, body {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: linear-gradient(rgba(136, 1, 138, 0.768), rgb(0, 28, 152));
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
.container {
    width: 35%;
    height: 200vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
  
.sidebar {
    width: 20vh;
    position: absolute;
    left: -220px;
    top: 5%;
}

.sidebar a {
    color: #ffffff;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    display: block;
}
   
.sidebar a:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    text-decoration: none;
}
