.main {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  top: 5%;
  margin-left: 3px;
  margin-right: 3px;
}

.header{
  padding: 20px;
  background: #1a85bc;
  color: white;
  font-size: 30px;
  max-width: 100%;
}

.separator {
  width: 30px; /* Adjust the width as per your desired separation */
}

.container .header {
  width: 100%;
}

.posts {
    color: white;
}

.info {
  display: flex;
}

.followers, .following {
  display: inline-block;
}

.following {
  margin-left:10px;
}

.top {
  display: flex;
  justify-content: space-between;

}

.heading h1 {
  float: left;
}

.follow button {
  float: right;
}

.light {
  color: rgb(81, 81, 81);
}

.info {
  font-size: 20px;
}

.box {
  border-style: solid;
  color: rgb(98, 94, 89);
  border-radius: 10px;
  margin-bottom: 3px;
  border-width: thin;
  padding: 10px;
  display: flex; 
  align-items: flex-start;
  position: relative;
}

.name a, .con, .time{
  color: white;
}

.name, .time {
  display: inline;
}

.time {
  float: right;
  color: rgb(110, 118, 125);
}

.likes {
  color: white;
}

button.disabled {
  opacity: 0.6; /* Reduced opacity to indicate disabled state */
  cursor: not-allowed; /* Show not-allowed cursor on hover */
  pointer-events: none; /* Disable pointer events on the button */
}

.name a {
  width: 5%;
  font-weight: bold;
}

.likes button {
  background: none;
  border: none
}

.press button, .press p {
  display: inline;
}


.header button {
    border-radius: 12px;
    width: 100px;
    height: 35px;
    font-size: 15px;
    background: none;
}

.header h1, .header button {
    display: inline;
}

.header button {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

.header img {
    margin-top: 2%;
    clip-path: circle();
    width: 30%
}

.header p {
    font-size: 15px
}

.header a {
    font-weight: lighter;
    font-size: 15px;
    color: white;
}

.header a::hover {
    text-decoration: underline;
}

.content img {
  height: 40px;
  width: 40px;
  float: left;  
}

.place {
  margin-left:10px
}
