.content h1 {
    color: white;
}

.category button {
    background: none;
}

.category button{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    border-width: 1px
}

button {
    width:100%;
}

a {
    color:white;
}