{% extends "home/base.html" %}
{%load static%}

{% block title %}
Your feed
{% endblock %}

{% block main %}

<body class="bg">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/feed.css'%}">
<script src="{% static 'js/feed.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="title">
        <div class="name">
            <h1 style="color: rgb(255, 255, 255);">Post</h1>
        </div>
    </div>
    <div class="box">
        <div class="image">
            <img src="/media/{{ main.creator_profile_image }}" alt="Profile Image">
        </div>
        <div class="place">
            <div class="name">
                <a href="/explore/{{main.user.username}}">{{ main.user.username }}</a>
            </div> 
            <div class="time">
                posted: {{ main.time|timesince }}
            </div> <br>
            <div class="con">
                <p id="p{{main.id}}"> {{ main.text|safe }} </p>
                <p> #{{ main.tag }} </p>
            </div>
            <div class="options">
                <div class="likes">
                    <form method="POST" id="{{main.id}}" class="like-form" data-form-id="{{main.id}}">
                        {% csrf_token %}
                        <div class="press">
                            {% if main.user_like %}
                                <button style="color: red;" type="submit" name="is-liked" id="{{main.id}}like"> 
                                    <i class="fa fa-heart"></i>
                                </button> 
                            {% else %}
                                <button style="color: rgb(255, 255, 255);" type="submit" name="is-liked" id="{{main.id}}like">  
                                    <i class="fa fa-heart"></i>
                                </button> 
                            {% endif %}
                            <p id="like-count-{{main.id}}"> {{main.likes}} </p>
                        </div>
                    </form> 
                </div>
                <div class="comment">
                    <button type="button" class="comment-button" data-post-id="{{ main.id }}">
                        <i class="fa fa-comment"></i>
                    </button> 
                    <p id="co{{main.id}}"> 
                        {% if main.comment_count == None %}
                            0
                        {% else %}
                            {{main.comment_count}} 
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        <div class="name">
            <h1 style="color: rgb(255, 255, 255);">Replies</h1>
        </div>
    </div>
    {% for post in comments %}
    <div class="box"> 
        <div class="image">
            <img src="/media/{{ post.creator_profile_image }}" alt="Profile Image">
        </div>
        <div class="place">
            <div class="name">
                <a href="/explore/{{post.user.username}}">{{ post.user.username }}</a>
            </div> 
            <div class="time">
                posted: {{ post.time|timesince }}
            </div> <br>
            <div class="con">
                <p id="p{{post.id}}"> {{ post.text|safe }} </p>
                <p> #{{ post.tag }} </p>
            </div>
            <div class="options">
                <div class="likes">
                    <form method="POST" id="{{post.id}}" class="like-form" data-form-id="{{post.id}}">
                        {% csrf_token %}
                        <div class="press">
                            {% if post.user_like %}
                                <button style="color: red;" type="submit" name="is-liked" id="{{post.id}}like"> 
                                    <i class="fa fa-heart"></i>
                                </button> 
                            {% else %}
                                <button style="color: rgb(255, 255, 255);" type="submit" name="is-liked" id="{{post.id}}like">  
                                    <i class="fa fa-heart"></i>
                                </button> 
                            {% endif %}
                            <p id="like-count-{{post.id}}"> {{post.likes}} </p>
                        </div>
                    </form> 
                </div>
                <div class="comment">
                    <button type="button" class="comment-button" data-post-id="{{ post.id }}">
                        <i class="fa fa-comment"></i>
                    </button> 
                    <p id="co{{post.id}}"> 
                        {% if post.comment_count == None %}
                            0
                        {% else %}
                            {{post.comment_count}} 
                        {% endif %}
                    </p>
                </div>
                <div class="view">
                    <a href="{% url 'comments' post_id=post.id %}" class="click"> view post </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}

{% block popup %}
<div class="popup" id="popup" style="display: none;">
    <div class="close">
        <button type="button" onclick="remove()">
            <i class="fa fa-close"></i>
        </button> 
    </div>
    <div id="originID" style="visibility: hidden;"> </div>
    <div class="popup-content">
        <div class="post">
            <p id="PrevPost">  </p>
        </div>
        <h2>Comment</h2>
        <form method="POST" id="commentForm">
            {% csrf_token %}
            <textarea class="form-control" name="content" id="postContent" maxlength="300" rows="4" cols="7"></textarea> <br> <br>
            <div style="text-align: center;">
                <button type="submit" id="submitButton"> Post </button>
            </div>
        </form>
        <div id="error" style="display: none; text-align: center; color: red;">
            <p> Post cannot be empty </p>
        </div>
    </div>
</div>
{% endblock %}