{% extends 'home/base.html' %}
{% load static %}
{% block title %} Create post {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/post.css' %}">
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}

{% block main %}
    <body>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="main">
    <h1 style="color: white;"> Create a post </h1> <br/>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label> Post: </label>
        <textarea name="{{ form.text.name }}" rows="5" cols="30" style="width: 100%;">Enter a message</textarea>

        <div class="form-group">
            <label for="{{ form.tag.id_for_label }}">Tag:</label> <br/>
            {{ form.tag }}
        </div>
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Image:</label> <br/>
            {{ form.image }}
        </div>
        <button type="submit">Submit</button>
    </form>
    <div id="error" style="display: none; text-align: center; color: red;">
        <p> There was an error make sure to not leave the post or tag empty </p>
    </div>
</div>
{% else %}
    <h1> Please login to create a post </h1>
{% endif %}
{% endblock %}
