{% extends 'home/base.html' %}
{% load static %}
{% block title %} Trending {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/trending.css' %}">
{% endblock %}

{% block main %}
    <body>
{% endblock %}

{% block content %}
<div class="content">
    <div class="heading">
        <h1> Trending Right Now </h1>
    </div>

    <div class="categories">
        {% for category in categories %}
        <div class="category">
            <button><a href="/topic/{{category.tag}}">{{ forloop.counter }}. {{ category.tag }} ({{ category.post_count }} posts)</a></Button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
