{% extends 'home/base.html' %}
{% load static %}
{% block title %} Trending {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/trending.css' %}">
<script src="{% static 'js/trending.js' %}"></script>
{% endblock %}

{% block main %}
    <body>
{% endblock %}

{% block content %}
<div class="content">
    <div class="heading">
        <h1> Trending Right Now </h1>
    </div>
    <br/>
    <div class="main">
        <form method="POST" id="trendForm">
            {% csrf_token %}
                <button id="A" type="submit" name="choice" value="allTime" style="background-color: grey;"> All Time </button>
                <button id="H" type="submit" name="choice" value="hour" style="background-color: white;"> Last hour </button>
        </form>
    </div>

    <br/>
    <div class="categories">
        {% for category in categories %}
        <div class="category">
            <button><a href="/topic/{{category.tag}}">{{ forloop.counter }}. {{ category.tag }} ({{ category.post_count }} posts)</a></Button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
